@layer utilities {
    .active {
        font-weight: bold;
    }
    
    .article-shadow{
        box-shadow: 1px 1px 8px 0px rgba(180, 180, 180, 0.39);
    }

    .bg-gradient-single{
        background: linear-gradient(90deg, #474747 0%, rgba(72, 72, 72, 0.56) 65.81%, rgba(136, 136, 136, 0.00) 100%), url('assets/images/showup.jpeg'), lightgray 50% / cover no-repeat;
    }
}